body,
div,
p,
ul,
li,
p,
h1,
h2,
h3,
h4,
input {
  padding: 0;
  margin: 0;
  outline: none;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
b,
i {
  font-style: normal;
}
html {
  font-size: 625%;
  font-family: "微软雅黑";
}
body {
  width: 100%;
  height: 100%;
  font-size: .14rem ;
  background: #E54F4A;
}
.m-logo {
  width: 2.8rem;
  margin: 1rem auto .7rem;
  height: 1rem;
  background-image: url(../img/logo.png);
}
.m-con {
  width: 2.8rem;
  margin: auto;
  font-size: .14rem;
}
.m-con p {
  color: #FFCC66;
  text-align: center;
  line-height: .34rem;
}
.m-con span {
  border: .01rem solid #fff;
  padding: 0 .03rem ;
  margin: .1rem;
  vertical-align: -0.05rem;
}
.m-con a {
  font-size: .12rem;
  line-height: .3rem;
}
.m-con h3 {
  font-size: .24rem;
}
.btn span {
  border: .01rem solid #E35149;
}
.btn {
  padding-top: .1rem;
  width: 2.8rem;
  height: .7rem;
  margin: 0 auto .2rem;
  background: #fff;
  color: #E35149;
  box-shadow: 0 .05rem .1rem #A13C33;
}
.btn a {
  color: #E35149;
}
.m-btn {
  margin-top: .2rem;
  text-align: center;
  font-size: .2rem;
  font-weight: 700;
  line-height: .7rem;
}
.step {
  display: -webkit-box;
}
.step:nth-child(4),
.step:nth-child(5) {
  margin: .3rem 0;
  color: #fff;
}
.step_ok {
  background: #E0B2AF;
}
.m-top {
  height: .62rem;
  border-bottom: .01rem solid #CCC;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: .6rem;
}
.m-top a {
  position: absolute;
  left: .2rem;
  font-size: .24rem;
}
.m-money {
  border-bottom: .02rem solid #CCC;
  padding: .12rem;
  background: #E54F4A;
}
.m-money .title {
  padding-bottom: .2rem;
  color: #fff;
  border-bottom: .01rem solid #CCC;
}
.m-money .title h4 {
  font-size: .18rem;
}
.m-money .title h1 {
  font-size: .7rem;
  font-weight: 500;
}
.m-money .money-info {
  color: #CCC;
  display: -webkit-box;
  font-size: .13rem;
}
.money-info span {
  display: block;
  line-height: .32rem;
}
.money-info p {
  -webkit-box-flex: 7;
  margin-top: .1rem;
}
.money-info input {
  -webkit-box-flex: 3;
  border: .01rem solid #CCC;
  border-radius: .04rem;
  padding: .1rem .22rem;
  margin: .2rem;
  background: #E54F4A;
  color: #CCC;
  font-size: .14rem;
  cursor: pointer;
}
.m-head {
  padding: .1rem;
  height: .61rem;
  border-bottom: .01rem solid #CCC;
  background: #fff;
  line-height: .6rem;
  display: -webkit-box;
}
.m-head img {
  width: .6rem;
  height: .6rem;
  border: .016rem solid #CCC;
  border-radius: .5rem;
  -webkit-box-flex: 2;
}
.m-head p {
  -webkit-box-flex: 6;
  margin-left: .2rem;
  font-size: .16rem;
  font-weight: 700;
}
.m-head span {
  margin-right: .2rem;
  -webkit-box-flex: 2;
  color: #CCC;
  font-size: .3rem;
  font-weight: 700;
}
.m-link {
  margin-top: .12rem;
  display: -webkit-box;
}
.m-link li {
  height: .65rem;
  -webkit-box-flex: 1;
  border: .01rem solid #CCC;
  border-right: none ;
  text-align: center;
}
.m-link li:first-child {
  border-left: none;
}
.m-send {
  padding: 0 .2rem;
}
.m-send li {
  width: 100%;
  margin-top: .32rem;
}
.m-send li span {
  color: #999;
}
.m-send li input {
  border: none;
  max-width: 1rem;
  background: #F7F7F7;
}
.m-send .vcode-btn {
  padding: .05rem;
  float: right;
  border: 1px solid #707070;
  border-radius: .03rem;
}
.m-send .vcode-btn:hover {
  background: #ACDCF7;
}
.m-send .t-btn {
  width: 100%;
  border: 1px solid #707070;
  margin-top: .4rem ;
  line-height: .45rem;
  border-radius: .03rem;
  color: #999;
}
.m-send .t-btn:hover {
  background: #ACDCF7;
}
.m-send p {
  color: #999;
  line-height: .5rem;
}
.z-code {
  line-height: .27rem;
}
.box {
  border-bottom: .01rem solid #EEEFEF;
  border-top: .01rem solid #EEEFEF;
  margin-top: .1rem;
  padding: 0 .2rem;
  background: #fff;
  color: #999;
  font-weight: 700;
  font-size: .15rem;
}
div.box:first-child {
  height: .9rem;
  padding: 0.2rem;
  display: -webkit-box;
}
div.box:first-child li {
  -webkit-box-flex: 6;
}
div.box:first-child p {
  margin-top: .3rem;
  border-bottom: .02rem solid #F7F7F7;
  line-height: .5rem;
}
div.box:first-child span {
  display: inline-block;
  width: .5rem;
}
div.box:first-child img {
  -webkit-box-flex: 4;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
}
div.box:nth-child(2) {
  line-height: .62rem;
}
div.box:nth-child(2) li {
  border-bottom: .01rem solid #F7F7F7;
}
div.box:nth-child(2) li:last-child {
  border: 0;
}
div.box:nth-child(2) li:nth-child(2) input {
  width: 1.4rem;
}
div.box:nth-child(2) input {
  padding: .02rem;
  width: 0.8rem;
}
div.box:nth-child(3) {
  line-height: .62rem;
}
div.box:nth-child(3) li {
  border-bottom: .01rem solid #F7F7F7;
}
div.box:nth-child(3) input {
  padding: .02rem;
  border: 0;
  color: #999;
  font-weight: 700;
  font-size: .15rem;
}
div.box:nth-child(3) a {
  color: #D5D5D5;
  font-size: .26rem;
  display: inline-block;
  float: right;
}
.m-list {
  padding: .08rem;
}
.m-list li {
  border: .01rem solid #CCCCCC;
  background: #fff;
  margin-bottom: .08rem;
  height: 1.03rem;
  display: -webkit-box;
  padding: .25rem 0 0 .1rem ;
}
.m-list img {
  width: .7rem;
  height: .7rem;
  border-radius: .05rem;
  margin-right: .1rem;
}
.m-list div {
  -webkit-box-flex: 2;
  min-width: 1.36rem;
}
.m-list h1 {
  font-size: .12rem;
  margin-top: .08rem;
}
.m-list a {
  display: inline-block;
  border: .01rem solid #CCCCCC;
  font-size: .1rem;
  padding: 0 .03rem;
  color: #999;
  margin-top: .05rem;
}
.m-list span {
  font-size: .2rem;
  line-height: 1rem;
  -webkit-box-flex: 2;
  margin-right: .15rem;
}
.m-list span i {
  color: #00CCFF ;
}
.m-list span b {
  color: red;
  font-size: .22rem;
  font-weight: 500;
}
.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.5;
  z-index: 0;
}
.z-step {
  position: absolute;
  top: 2.3rem;
  left: 50%;
  margin-left: -1.5rem;
}
.z-step div {
  margin-bottom: .3rem;
}
.z-step .tishi {
  width: 1.68rem;
  height: .58rem;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: .58rem;
  border-radius: .05rem;
  margin: 0 auto .3rem auto;
}
.z-step .tj {
  width: 3rem;
  height: 2.5rem;
  color: #999;
  background: #fff;
  text-align: center;
  border-radius: .05rem;
  margin: 0 auto .4rem auto;
}
.z-step .tj h2 {
  line-height: 1.8rem;
}
.z-step .tj input {
  color: #999;
  font-size: .14rem;
  width: 1.4rem;
  height: .42rem;
  line-height: .4rem;
  border: .01rem solid #ccc;
  background: #fff;
  border-radius: .05rem;
}
.z-step .tj .on {
  color: #fff;
  background: #169BD5;
  margin-left: .1rem;
}
